nav{
  width: 100%;
  height: 65px;
  background: url('src/assets/background-nav2.jpg');
  background-repeat: no-repeat;
  background-position: 25% 36%;
  background-size: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.botoes{
  margin-left: 70%;
  display: flex;
  flex-direction: row;
  width: 20%;

}

#icone{
  height: 85%;
  width: 60px;
  margin-left: -2%;

}

button{
  background-color: rgb(47, 142, 231);
  width: 100%;
  border: 2px solid rgb(47, 142, 231);
  margin-right: 20px;
  height: 30px;
  transition-duration: 0.4s;
  color: white;
  border-radius: 10%;
}

button:hover{
  background-color: white;
  color: rgb(47, 142, 231);
  width: 100%;
  border: 2px solid white;
  margin-right: 20px;
}
