<!DOCTYPE html>
<html>
  <div class="flex-box">

    <section>
      <article class="imagem">
        <img src="assets\image-home.jpg" />
      </article>
      <article class="texto">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
          porttitor nulla nec erat ultricies, sit amet pellentesque libero
          facilisis. Fusce blandit, ipsum sagittis malesuada sagittis, arcu
          velit fermentum tortor, non cursus dolor erat vel nunc. Nulla porta
          sagittis ex, ut pharetra ipsum feugiat et. Class aptent taciti
          sociosqu ad litora torquent per conubia nostra, per inceptos
          himenaeos. Vestibulum quis ultrices lorem, ut rutrum nulla. Cras non
          rutrum ipsum, scelerisque tempor neque. Pellentesque interdum elit ac
          rutrum gravida. Sed imperdiet venenatis urna, sit amet euismod diam
          accumsan vel. Nulla leo mauris, dignissim vel nisl in, tincidunt porta
          erat. Aliquam erat volutpat. Proin feugiat eros sed diam sodales
          lacinia. Fusce et neque quis tortor bibendum hendrerit non sed augue.
          Nunc vitae quam vulputate, malesuada massa vitae, volutpat elit.
          Praesent a maximus est. Nunc vel efficitur felis. Ut sapien lacus,
          molestie id malesuada a, lacinia id dui.
        </p>
      </article>
    </section>

  </div>
</html>
